In [1]:
s="Data Science"
len(s)

12

In [2]:
s.find("e")
# finds first occurance

8

In [3]:
s.count("e")

2

In [4]:
s.capitalize()
# first letter capital

'Data science'

In [5]:
s.upper().lower()

'data science'

In [6]:
#str + number
s = s +' 1'
# temporary stored at new location
s

'Data Science 1'

In [7]:
s*3
#division not supported

'Data Science 1Data Science 1Data Science 1'

# LIST

In [8]:
l1=["python","jupyter",[1,2,3],True,24,76]

In [9]:
l1+s

TypeError: can only concatenate list (not "str") to list

In [10]:
#list as a function
list(s)
# breaks elements and store

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', '1']

In [11]:
l1+list(s)

['python',
 'jupyter',
 [1, 2, 3],
 True,
 24,
 76,
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 '1']

In [12]:
#list as a function
list(s)
# breaks elements and store

['D', 'a', 't', 'a', ' ', 'S', 'c', 'i', 'e', 'n', 'c', 'e', ' ', '1']

In [13]:
# accessing list in list
l1[2][2]

3

In [14]:
# part of bool inside list
l1[3][1]

TypeError: 'bool' object is not subscriptable

In [15]:
str(l1[3])

'True'

In [16]:
q= str(l1[3])[0:2]
q

'Tr'

In [17]:
# list + list
l=[1,2,3,4]
l+l1

[1, 2, 3, 4, 'python', 'jupyter', [1, 2, 3], True, 24, 76]

In [18]:
l.append(2) # append only at last
l

[1, 2, 3, 4, 2]

In [19]:
l1.append(s)
l1

['python', 'jupyter', [1, 2, 3], True, 24, 76, 'Data Science 1']

In [21]:
# extend-> takes iterable data,  unwrap and store
l1.extend(l)
l1

['python',
 'jupyter',
 [1, 2, 3],
 True,
 24,
 76,
 'Data Science 1',
 1,
 2,
 3,
 4,
 2,
 1,
 2,
 3,
 4,
 2]

In [22]:
l.extend(s)
l

[1,
 2,
 3,
 4,
 2,
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 '1']

In [24]:
# insert->  used to store at a given position
l.insert(2,"Vansh")
l

[1,
 2,
 'Vansh',
 3,
 4,
 2,
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 '1']

In [25]:
l2=["DSA", "CP","WEB DEV","DATA SCIENCE"]
l2.insert(-1,"JAVA")

In [27]:
l2
# -1 pe hi store kiya,next element aage forward ho gya

['DSA', 'CP', 'WEB DEV', 'JAVA', 'DATA SCIENCE']

In [28]:
# Removing from list
l2.pop(0)

'DSA'

In [29]:
l2

['CP', 'WEB DEV', 'JAVA', 'DATA SCIENCE']

In [32]:
l3=["DSA", "CP","WEB DEV","DATA SCIENCE","Video Editing","DSA"]

In [34]:
l3.remove("DSA")
l3
# removes first occurance

['CP', 'WEB DEV', 'DATA SCIENCE', 'Video Editing', 'DSA']

In [35]:
# from list in list
l4=[[1,2,3,4],[2,2,3,3]]
l4[1].remove(3)

In [36]:
l4

[[1, 2, 3, 4], [2, 2, 3]]

In [39]:
# reverse
l3[::-1]
# temporary

['DSA', 'Video Editing', 'DATA SCIENCE', 'WEB DEV', 'CP']

In [40]:
l3

['CP', 'WEB DEV', 'DATA SCIENCE', 'Video Editing', 'DSA']

In [45]:
l3.reverse()  # permanent

In [46]:
l3

['DSA', 'Video Editing', 'DATA SCIENCE', 'WEB DEV', 'CP']

In [50]:
l5=[2,45,67,0,23]
l5.sort()
# sort in ascending order
l5

[0, 2, 23, 45, 67]

In [51]:
l5.append("Vansh")
l5

[0, 2, 23, 45, 67, 'Vansh']

In [54]:
l5.sort()
# between similar data types

TypeError: '<' not supported between instances of 'str' and 'int'

In [55]:
# descending order
l5.pop()
l5

[0, 2, 23, 45, 67]

In [57]:
l5.sort(reverse=True)
l5

[67, 45, 23, 2, 0]

In [58]:
s

'Data Science 1'

In [61]:
s.replace('D','d') # temporary

'data Science 1'

# Tuple

In [64]:
#list-> mutable
# tuple-> immutable

t=("badminton","basketball","volleyball")

# only index and count function

In [65]:
t.index("basketball")

1

# Set

In [68]:
s1={}
type(s1)
# type = dict when set is empty

dict

In [69]:
s2={2,3,3,4,5,5}

In [71]:
s2
# stores only unique element

{2, 3, 4, 5}

In [87]:
# list inside set
s3={"sports","study",[3,6,9]}
s3
# stores only immutable element, (list is mutable)

TypeError: unhashable type: 'list'

In [88]:
l6=[3,3,4,5,6,6,7,"vansh","Vansh",(1,2,4)]

In [89]:
# set as a function
set(l6)

{(1, 2, 4), 3, 4, 5, 6, 7, 'Vansh', 'vansh'}

In [90]:
# remove duplicate elements from a list with help of set
l7={3,4,5,5,6,6,7,7,8,(2,3,5,6),True,2+10j}

In [91]:
set(l7)

{(2+10j), (2, 3, 5, 6), 3, 4, 5, 6, 7, 8, True}

In [92]:
l7=list(set(l7))
l7

[(2+10j), True, 3, 4, 5, 6, 7, 8, (2, 3, 5, 6)]

In [98]:
# no slicing, no indexing
s2[0]

TypeError: 'set' object is not subscriptable

In [100]:
s2.add(6)
s2

{2, 3, 4, 5, 6}